= stylesheet_link_tag "//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css"

.container{style: "background: #eee"}
  %table.table.table-striped.table-bordered
    %tr
      %td{colspan: 5}
        Download:
        = link_to "CSV", rsvps_path(format: :csv)
        |
        = link_to "XLS", rsvps_path(format: :xls)
    %tr
      %th First name
      %th Last name
      %th Email
      %th Bringing
      %th Created at
    - @rsvps.each do |rsvp|
      %tr
        %td= rsvp.name_one
        %td= rsvp.name_two
        %td= rsvp.name_three
        %td= rsvp.bringing
        %td= l rsvp.created_at, format: "%b %d %I.%M%p'"
